    html {
        overflow-y:scroll; }
    body { 
        padding-top:10px;
        color: #565156;
        background: #fff7fc;
 }

    
    
    /*OTSIKKOBOKSI*/

    h1 {
        font-family: "Lato";
        font-size: 45px;
        /*font-style: italic;*/
        /*font-weight: bold;*/
        
        padding-bottom: 15px;

    }

    /*BIISIHAKU*/

    .form-control {
        background: #fff7fc;        
    }



    button {
      z-index: 1000;
      position: relative;
    }

    .search {
        margin-bottom: 15px;
    }


    /*LYRIIKKANÄKYMÄ*/
    #sanat {
        text-align: left;
        background: #ffeaf7;
        white-space: pre-line;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 5px;
        word-wrap: normal;
        line-height: 30px;
        border-radius: 8px;
        font-family: "Verdana"
    }

    .biisiotsikko {
        font-family: "Lato";
        font-size: 20px;
        /*font-style: italic;*/
        /*font-weight: bold;*/
         
    }



    /*BIISILAATIKOT*/

    .saved.biisi {
        background: #91bbff;
    }



    .biisi {
        padding: 10px;
        font-size: 15px;
        /*font-weight: bold;*/
        text-align: center;
        background: #ffe0f6;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 8px;
        
    }


    p.biisi:hover {
        background: #ffeaf7;
    }

    p.saved.biisi:hover {
        background: #adc9f7;
    }
