<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="app">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Hallinnointi</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #biisi-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">

</head>
<!-- SET THE CONTROLLER AND GET ALL biisit -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND biisi COUNT -->
        <div class="jumbotron text-center">
            <h1>Lisää ja poista biisejä!</h1>
        </div>

         <!-- FORM TO CREATE SONGS -->
        <div id="biisi-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="Nimi" ng-model="formData.name">
                        <textarea  class="form-control" placeholder="Sanat :D" ng-model="formData.sanat"></textarea>
                    </div>

                    <!-- createbiisi() WILL CREATE NEW biisit -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createBiisi()">Add</button>
                </form>
            </div>
        </div>

        <!-- Biisilista -->
        </br>
        <div id="jumbotron" class="row">
            <div >
                <h1> Biisit: -- DelMode: <span ng-click="deleteMode()" > {{ delMode }}</span> </h1>
                <!-- LOOP OVER THE biisit IN $scope.biisit -->
                <div class="col-sm-4 biisit>" ng-repeat="biisi in biisit">
                    
                         {{ biisi.name }}  -- <button ng-click="deleteBiisi(biisi._id)"> DEL </button>
                    
                </div>

            </div>
        </div>

       

    </div>

</body>
</html>